@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello~</h1>
    <p>This project is from kuuhaku. </p>
    <p>I'd love it if you could see my name(kuuhaku) anywhere else.</p>
    <p><a href="https://github.com/kuuhaku0721">Learn more about me</a> or 
        <a href="https://zh.wikipedia.org/wiki/NO_GAME_NO_LIFE_%E9%81%8A%E6%88%B2%E4%BA%BA%E7%94%9F">about me</a>.</p>
</div>
