@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>so, privacy? Nononono, we have no privacy</p>
<p>Just follow the laws and regulations</p>
<p>说人话就是：做一个知法懂法的好公民即可</p>